@font-face {
  font-family: 'Qatar';
  src: url('Qatar2022Arabic-Bold.ttf');
}

.container {
    display: None;
}

body {
    background-color: #8d1b3d;
    font-family: 'Qatar';
    font-size: 100%;
}

h2 {
    color: #ffffff;
}

.scoreline {
    font-weight: 200;
    font-size: 1em;
    margin: 0;
}

.list-group-item {
    background-color: #ccbbbb;
}

.crest {
    height: 21px;
    width: 35px;
    object-fit: cover;
    vertical-align: middle;
}

.splash{
    background-color: #8d1b3d;
    color: #ffffff;
    font-weight: 700;
    font-size: 2em;
    margin: auto;
    transition: all 0.5s ease-in;
}

.splash-logo {
    margin: 0;
    height: 50%;
}